<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--package="com.amolg.flutterbarcodescanner" <CHG000014> Remove-->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.amolg.flutterbarcodescanner.BarcodeCaptureActivity" />
    </application>
</manifest>
